.part_two{
    margin-top: 30px;
    margin-bottom: 30px;
}

.video{
    padding-top: 30px
}
ul{
    padding-left: 0;
    color: #808080;

}
.company-service>li{
    padding-bottom: 10px;
}
.part_two ul .title-text{
    color: #ca3726;
    padding-bottom: 15px;
}
.content-text{
    padding-bottom: 10px;
}
.team-pic{
    padding-left: 0;
}
p{
    margin: 0;
}
.clients li{
    padding-bottom: 20px;
}
li>a{
    color: #505050;
    text-decoration: none;
}
li>a:hover{
    color: #505050;
    text-decoration: none;
}
.part_two ul .company-profile{
    font-size: 25px;
    padding-bottom: 0
}
.phone-company{
    display: none;
}
.part_two .clients li{
        padding-left: 0;
    }
.about-color{
	color:#ca3726;
}
.about-pic{
    display: block;
}   
    
@media screen and (max-width: 767px){
    .part_two .phone-company{
    display: block;
    margin-left: 0;
    padding-right: 26px;
    padding-left:26px;
    }
    .part_two .phone-clients{
    margin-left: 0;
    padding-right: 26px;
    padding-left:26px;
    }
    .pc-company{
    display:none;
    }
    .company-video{
        margin-left: 0;
    }
    .company-video>ul>li{
        padding-left: 26px;
    }
    .company-video>ul>.video{
        padding-left:0;
    }
    .part_two .clients li{
        padding-left: 0;
    }
}
