.main{
    padding-left: 155px;
    padding-top: 50px;
    padding-bottom: 70px;

}
.brand-pic{
    width: 155px;
    height: 25px;
    background: url("/audNorka/static/common/client/images/sites/stripline2.png") no-repeat 0 5px;
}


footer .footer-text{
    top:0;
}
 .design-pic{
    padding-left: 0;
}
.design-pic>ul{
    padding-left: 0;
}
.main li{
    padding-top: 5px;
    padding-bottom: 10px;
    color: #808080;
}
.bold-text{
    color: #505050;
    font-weight: 600;
}
.main .key-project{
    color: #ca3726;
    padding-bottom: 0
}
.main .people-intro{
    padding-bottom: 0;
    padding-top: 20px;
}
.contact-work,.contact-work>div{
    padding-left: 0;
}
.contact-work div:nth-child(1){
    padding-top: 10px;
    padding-bottom: 20px;
}
.work-pic{
    color: #808080;
}

.work-pic>a{
    color: #505050;
    text-decoration: none;
}
.work-pic>a:hover{
    color: #505050;
    text-decoration: none;
}
