.main{
    padding-left: 155px;
    padding-top: 50px;
    padding-bottom: 70px;

}
.brand-pic{
    width: 155px;
    height: 25px;
    background: url("../images/sites/stripline2.png") no-repeat 0 5px;
}


footer .footer-text{
    top:0;
}

li{
    color: #5f5d5d;
}

li>a{
    color: #5f5d5d;
    text-decoration: none;
}
li>a:hover{
    color: #a1a1a1;
    text-decoration: none;
}
.view-more>a{
    color: #ca3726;
    text-decoration: none;
}

.main ul{
     padding-left: 0;
}
.main ul h3{
    font-weight: bold;
}
.main ul li{
    padding-bottom: 20px;
    word-wrap:break-word;
}
h5{
  margin: 0;
  font-weight: bold;
}
h6{
    padding-top:5px;
    margin: 0;
}
.share-icon{
    padding-left: 0;
}
.first-title{
    color: #ca3726;
    font-weight: bold;
}
.new-color{
	color:#ca3726
}
.new-pic{
	display:block
}

@media screen and (max-width: 767px){
	.main{
		padding:15px;
	}
}
