/*header*/
ul{
    list-style-type: none;
}
@media screen and (max-width: 767px) {
    .nav_two{
        display:none;
    }
    .nav_one{
        background-color:#ca3726 !important;
    }
    .navbar-toggle{
        float: left;
        padding-top: 16px;
    }
    .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
    .navbar-default .navbar-toggle {
     border-color: transparent;
}
    .main{
    top:0 !important;
    height: 80%;
}
footer .footer-text {
   
     top: 0;

}
footer{
    padding-top: 50px;
}
.footer-text .footer-pic {
    left:47% !important;
}
.navbar-brand{
    margin-left: 6%;
}
}
@media screen and (min-width: 767px) {
    .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    width:1280px;
    margin: 0 auto;
}
.carousel-caption{
	left:155px !important;
}
}

.navbar-brand{
    padding:0;
    height:auto;
}
.navbar{
    margin-bottom: 0;
    min-height: 0;
}
.nav_two{
    border-bottom: none;
    font-size: 12px;
    border-radius: 0px;
    border-right:solid 1px #ca3726;
    position: relative;
    z-index: 999
}
.nav_one {
    background-color: #fff;
    border: none;
    position: relative;
}

.ul_one>li>a{
    margin-top: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-right:1px solid #ca3726;
}
.nav_two .ul_two>li>a{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 26px;
    color:#fff;
}

.ul_two{
   
    display: none;
    position: absolute;
    left: 155px;
    top: -1px;
    z-index: 999;

}
.ul_two>li{
    float: left;
    width:148px;
}
.flg-pic{
    position: absolute;
    top: 61px;
    left: 69px;
    display: none;
}
.current{
	display:block;
}
.nav>li{
    width: 148px;
    text-align: center;
}
.ul_one li span{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:inherit;
    padding-right:inherit;
    font-size: 14px;

}
.search-form{
    width: 300px;
    position: absolute;
    right:0;
    top:4px;
}
.search-input{
    width: 300px;
}
.search-input input{
    border-radius:10px;
    height: 18px;
    width: 130px;
    line-height:20px;
    background-color: rgba(255,255,255,0.4);

}

.search-input label{
    margin: 0;
    padding-top: 4px;
    padding-left: 8px;
    position: relative;
    top: -19px;
}


.ul-three{
    width: 150px;
    position: absolute;
    background-color: #ca3726;
    display: none;
    z-index:2000;

}
.ul-three>li{
    border-top: 1px solid #fff;
}
.ul-three>li>a{
    float: none;
    color:#fff;
    padding-top: 4px;
    padding-bottom: 4px;
}
.ul-three>li>a:link{
    color: #A1A1A1;
    background-color:transparent;
}
.ul-three>li>a:visited{
    background-color:transparent;
    color: #A1A1A1;
}
.ul-three>li>a:hover{
    background-color:transparent;
    color: #5F5D5D;
}
.ul-three>li>a:active{
    background-color:transparent;
    color: #A1A1A1;
}
.ul-three>li>a:visited{
    background-color:transparent;
}
.current2{
    display: block;
}

.change-language{
    position: absolute;
    right: 1%;
    top:35px;
    font-size: 13px;
}
.change-language a:link,.ul_one>li>a>span:link{
    color: #5F5D5D;
    text-decoration: none;
}
.change-language a:visited,.ul_one>li>a>span:visited{
    color: #ca3726;
    text-decoration: none;
}
.change-language a:hover,.ul_one>li>a>span:hover{
    color: #A1A1A1;
    text-decoration: none;
}

.change-language a:active,.ul_one>li>a>span:active{
    color: #ca3726;
    text-decoration: none;
}
.btn-language{
    border-radius:20px;
}

/*footer*/
footer .footer-text{
    position: relative;
    top:-25px;
    text-align: center;
    border-top:1px solid #ca3726;
    padding-top: 15px;
}
.footer-text span{
    font-size: 12px;
    color:#505050;
}
.footer-text .footer-pic{
    position: relative;
    top: -30px;
    left: 230px;
}


/*ÐÞ¸Ä*/

@font-face { 
	font-family: HelveticaNeueLight; 
	src: url('../Fonts/Helvetica_Neue.ttf'); 
} 
.navbar-default{
    background-color: transparent;
    border-color: #fff;
}
.navbar{
    border:none;
}

*{
    font-family: "HelveticaNeueLight";
}
.glyphicon-search:before{
    content: url("../images/sites/Path_35.png") !important;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeueLight";
}
h5,h6{
    font-weight: 100;
    font-family: "HelveticaNeueLight";
}
h5{
    margin-top: 10px;
}
