.main{
    position: relative;
    top:-25px;
}
.icon-next:before{
    content: url("/audNorka/static/common/client/images/sites/XMLID_16_.png") !important;
}
.icon-prev:before{
    content: url("/audNorka/static/common/client/images/sites/XMLID_16_.png") !important;
}
.carousel-control{
    opacity: 0;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
.carousel-caption{
    right:60%;
    display: none;
}

.brand-pic{
    width: 155px;
    height: 25px;
    background: url("/audNorka/static/common/client/images/sites/stripline-1.png") no-repeat 0 5px;
}