.main{
    position: relative;
    top:-25px;
}
.icon-next:before{
    content: url("/audNorka/static/common/client/images/sites/XMLID_16_.png") !important;
}
.icon-prev:before{
    content: url("/audNorka/static/common/client/images/sites/XMLID_-1.png") !important;
}
.carousel-control{
    opacity: 0;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
.carousel-caption{

    display: none;
    display:block;
    text-align: left;
    padding-left:13px;
    background:url("/audNorka/static/common/client/images/sites/2141_03.png") no-repeat 0 28px;
}

.brand-pic{
    width: 155px;
    height: 25px;
    background: url("/audNorka/static/common/client/images/sites/stripline-1.png") no-repeat 0 5px;
}
.carousel-caption h1{
	font-size:24px;
	
}
.carousel-caption h3{
	font-size:15px;
}
