<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aud.mapper.TeamMemberMapper" >
  <resultMap id="BaseResultMap" type="com.aud.pojo.TeamMember" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="lang" property="lang" jdbcType="VARCHAR" />
    <result column="education_background" property="educationBackground" jdbcType="VARCHAR" />
    <result column="work_experience" property="workExperience" jdbcType="VARCHAR" />
    <result column="membership" property="membership" jdbcType="VARCHAR" />
    <result column="key_project" property="keyProject" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, position, img_url, created_at, updated_at, lang, education_background, 
    work_experience, membership, key_project, brief
  </sql>
  <select id="getTeamMemberByLang" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team_members
    where lang = #{lang,jdbcType=INTEGER}
  </select>
  <select id="getMaxId" resultType="java.lang.Integer">
    select id from team_members ORDER BY id DESC limit 0,1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team_members
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team_members
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aud.pojo.TeamMember" >
    insert into team_members (id, name, position, 
      img_url, created_at, updated_at, 
      lang, education_background, work_experience, 
      membership, key_project, brief
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{lang,jdbcType=VARCHAR}, #{educationBackground,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, 
      #{membership,jdbcType=VARCHAR}, #{keyProject,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aud.pojo.TeamMember" >
    insert into team_members
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="lang != null" >
        lang,
      </if>
      <if test="educationBackground != null" >
        education_background,
      </if>
      <if test="workExperience != null" >
        work_experience,
      </if>
      <if test="membership != null" >
        membership,
      </if>
      <if test="keyProject != null" >
        key_project,
      </if>
      <if test="brief != null" >
        brief,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="educationBackground != null" >
        #{educationBackground,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="membership != null" >
        #{membership,jdbcType=VARCHAR},
      </if>
      <if test="keyProject != null" >
        #{keyProject,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aud.pojo.TeamMember" >
    update team_members
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="lang != null" >
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="educationBackground != null" >
        education_background = #{educationBackground,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        work_experience = #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="membership != null" >
        membership = #{membership,jdbcType=VARCHAR},
      </if>
      <if test="keyProject != null" >
        key_project = #{keyProject,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        brief = #{brief,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aud.pojo.TeamMember" >
    update team_members
    set name = #{name,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      lang = #{lang,jdbcType=VARCHAR},
      education_background = #{educationBackground,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=VARCHAR},
      membership = #{membership,jdbcType=VARCHAR},
      key_project = #{keyProject,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>